<!doctype html>
<title>Data Incubator Capstone Project: Restaurants in Las Vegas</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<div class=page>
  <h1>Las Vegas Food Guide</h1>
  <div class=metanav>


    <form id='userinfoform_lulu' method='post' action='index' >
      <p>
    What would you like to eat?: <input type='text' name='food' placeholder="I'm feeling like BBQ!"/>

      </p>

      <p>
    <input type='submit' value='Submit' />
      </p>
    </form>

  </div>
</div>
</html>
